.navbar-nav .nav-link.active {
    background-color: #fff !important;
    color: #394f48 !important;
}

nav .nav-link {
    color: white !important;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #394f48;
    color: #fff;
    z-index: 1000;
}

.nav-link {
    text-align: center;
}

#covil img {
    max-height: 235px;
    
}
.custom-h1 {
    font-size: 2rem; 
    color: #fff; 
    padding: 10px; 
    border: 2px solid rgba(255, 255, 255, 0.7); 
    border-radius: 5px; 
    display: inline-block; 
    margin-bottom: 20px;
}

section {
    background-color: #6d8171;
    padding: 10px 0 10px 0;
}

.carousel-caption {
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    1px 1px 0 #000; 
}

.carousel-item img {
    max-height: 700px;
}

@media screen and (max-width: 767px) {
    .row > [class*='col-12'] {
        margin-bottom: 15px;
    }

    .custom-h1 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row > [class*='col-md-6'] {
        margin-bottom: 15px;
    }
}

